<p><strong><%= flight.origin_airport.iata_code %> =>
<%= flight.destination_airport.iata_code %></strong></p>

<p><strong>Airline: </strong><%= flight.airline.name %></p>

<p><strong>Flight Number: </strong><%= flight.flight_number %></p>

<p><strong>Departure Time: </strong><%= flight.departure_time.strftime("%m/%d/%Y %k:%M") %></p>

<% arrival_time = flight.departure_time + flight.duration.minutes %>
<p><strong>Arrival Time: </strong><%= arrival_time.strftime("%m/%d/%Y %k:%M") %></p>

<% hours = flight.duration / 60 %>
<% minutes = flight.duration % 60 %>
<p><strong>Duration: </strong><%= "#{hours}:#{minutes}" %></p>

<%= simple_form_for @booking, url: new_booking_path, method: :get do |f| %>
  <%= f.hidden_field :flight, value: flight.id %>
  <%= f.hidden_field :passenger_count, value: session[:passenger_count] %>
  <%= button_tag type: 'submit', class: "btn btn-primary" do %>
    <span>Book This Flight</span>
  <% end %>
<% end %>
